<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Add news</title>
    </head>
    <body>
        <h1>Add news</h1>

        <form th:action="@{/add}" method="POST">
            <p>Title: <input name="title"></input></p>
            <p>Caption: <textarea name="caption"></textarea></p>
            <p>Content: <textarea name="content"></textarea></p>
            <input type="submit" value="Add"></input>
        </form>
        
        <h3><a href="home">Back to News</a></h3>

    </body>
</html>