<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Categories</h2>
        
        <ul>
            <li>
                <a th:href="@{/categories/{category}(category=${category.name})}" th:text="${category.name}"></a>
            </li>
        </ul>
        
        <h1 th:text="${article.title}">Title</h1>
        <img th:if="${article.fileObject != null}" th:src="@{/images/{id}(id=${article.fileObject.id})}"/>
        <h3 style="font-weight: bold;" th:text="${article.caption}">Caption</h3>
        <p th:text="${article.content}">Content</p>
        <p th:text="${article.pubDate}" style="font-style: italic;">Date</p>
        <a th:href="@{/}">Back to listing.</a>
        
    </body>
</html>
