<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Categories</h2>
        
        <ul>
            <li> 
                <a th:href="@{/categories/{category}(category=${category.name})}" th:text="${category.name}"></a>
            </li>
        </ul>

        <h1>All <span th:text="${category.name}"></span> news</h1>
        
        <ol>
            <li th:each="article : ${news}">
                <p>
                    <a style="font-weight: bold; font-size: 17px;" th:href="@{/{article}(article=${article.id})}" th:text="${article.title}">Article Title</a>
                    <br th:text="${article.pubDate}"></br>
                </p>
            </li>
        </ol>
        
        <a th:href="@{/}">Back to listing.</a>

    </body>
</html>
