<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body> 


        <p th:each="category : ${categories}">
            <span th:text="${category.name}">Category title</span>
        </p>
        
        <h2>New category</h2>
        
        <form th:action="@{/categories}" method="POST">
            <p>Name: <input name="name"></input></p>
            <input type="submit" value="Add"></input>
        </form>
        
        <a th:href="@{/}">Back to listing.</a>

    </body>
</html>

