<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body> 
        <ul>
            <li> 
                <a th:href="@{/categories/{category}(category=${category.name})}" th:text="${category.name}"></a>
            </li>
        </ul>

        <p th:each="article : ${news}">
            <a th:href="@{/{article}(article=${article.id})}" th:text="${article.title}">Article title</a>
            <br th:text="${article.pubDate}"></br>
        </p>
        
        <a th:href="@{/}">Back to listing.</a>

    </body>
</html>
