<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>News 1</h1>
        <h2>Caption</h2>
        <p>Picture</p>
        <p>Content</p>
        <p>Date</p>
        
        <h1>News 2</h1>
        <h2>Caption</h2>
        <p>Picture</p>
        <p>Content</p>
        <p>Date</p>
        
        <h1>News 3</h1>
        <h2>Caption</h2>
        <p>Picture</p>
        <p>Content</p>
        <p>Date</p>

        <h3><a href="add">Add News</a></h3>
    </body>
</html>
