<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Categories</h2>
        
        <ul>
            <li th:each="category : ${categories}"> 
                <a th:href="@{/categories/{category}(category=${category.name})}" th:text="${category.name}"></a>
            </li>
        </ul>

        <h1>News</h1>

        <ol>
            <li th:each="article : ${news}">
                <p>
                    <a style="font-weight: bold; font-size: 17px;" th:href="@{/{article}(article=${article.id})}" th:text="${article.title}">Article Title</a>
                    <br th:text="${article.caption}"></br>
                    <img th:if="${article.fileObject != null}" th:src="@{/images/{id}(id=${article.fileObject.id})}"/>
                </p>
            </li>
        </ol>

        <h2>Write an Article</h2>

        <form th:action="@{/}" method="POST" enctype="multipart/form-data">
            <p>Title <input name="title"></input></p>
            <p>Caption <textarea name="caption"></textarea></p>
            <p>Content <textarea name="content"></textarea></p>
            <span th:each="category : ${categories}" style="padding: 5px;"><input type="radio" th:text="${category.name}" name="category" th:value="${category.name}"/></span>
            <p><input type="file" name="file" /></p>
            <p></p>
            <input type="submit" value="Add"></input>  
        </form>
        
    </body>
</html>