<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body> 
        <ul>
            <li th:each="category : ${categories}"> 
                <a th:href="@{/categories/{category}(category=${category.name})}" th:text="${category.name}"></a>
            </li>
        </ul>

        <h1>News</h1>
        
        <p th:each="article : ${news}">
            <a th:href="@{/{article}(article=${article.id})}" th:text="${article.title}">Article title</a>
        </p>

        <h2>Write an article</h2>

        <form th:action="@{/}" method="POST">
            <p>Title <input name="title"></input></p>
            <p>Caption <textarea name="caption"></textarea></p>
            <p>Content <textarea name="content"></textarea></p>
            <span th:each="category : ${categories}"><input type="checkbox" th:text="${category.name}" name="category" th:value="${category.name}"/></span>
            <p></p>
            <input type="submit" value="Add"></input>  
        </form>
        
        <!-- <a th:href="@{/categories}">Categories</a> -->

    </body>
</html>